### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# C extensions
*.so
# Jupyter Notebook
.ipynb_checkpoints


### JetBrains template (PyCharm)
.idea


### VisualStudioCode template
.vscode/


### macOS template
# General
.DS_Store
# Thumbnails
._*


### Project files
!images/
saved/
